# JMeter artifacts
# Results
*.jtl
*.csv

# Logs
*.log
jmeter.log

# HTML reports/output dirs
report/
*/report/
*-report/
**/reports/
**/report/**

# Temporary files
*.tmp
*.bak
.DS_Store

# IDE project files
.vscode/
.idea/

# OS
Thumbs.db
